body{
    background-color: rgb(214, 214, 214);
}

.outermost-form{
   width: 100%;
   height: 100%;
    
}

/* register.css */

h1.signup-heading {
    font-size: 2.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add some bottom margin for spacing */
  }
  